<% if @comment.errors.empty? %>
  $('#comments>h3').text('所有评论');
  $('<%= escape_javascript(render :partial => 'comment', :object => @comment) %>').hide().appendTo($('#comments')).fadeIn('fast');
<% else %>
  $('<span class="error-message"><%= escape_javascript(@comment.errors.full_messages.join(',')) %></span>');
<% end %>