*{
    margin:10px,0,0,0;
    padding:0;
}
body{
    background-color: #D8EAF8;
    margin:10,0,0,0;
    padding:0;
    text-align:center;
}
table{
    text-align:center;
    width:100%;
    border:2px #E6E6E6 solid;
    border-radius: 8pt;
    -moz-border-radius: 8pt;
    -webkit-border-radius: 8pt;
}
h2{
    margin-left:5px;
}
#log{
    background-image:url(/assets/icon/background_top.jpg);
    height:400px;
    width:2000px;
}
#content{
    text-align:left;
    width:900px;
    background-color:#FFF;
    margin:0px auto;
    border: 2px #E6E6E6 solid;
    border-radius: 8pt;
    -moz-border-radius: 8pt;
    -webkit-border-radius: 8pt;
    padding:5px;
    margin-top:-240px;
    -webkit-box-shadow:4px 4px 8px #292929;
    -moz-box-shadow:4px 4px 8px #292929;
    box-shadow:4px 4px 8px #292929;
}
.albumTabs li{
    display: block;
    float:left;
    text-align:center;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    height: 30px;
    width: 80px;
    background-color: #E0E0E0;
    padding:0;
    margin-left:5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
div#album, div#photo{
    clear:both;
    margin-top:0;
    margin-left:5px;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid #E1E1E1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
li.current{
    background-color: #FFFFFF;
}
div#album li{
    display:inline;
}
div#photo li{
    display:inline;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.image{
    width:110px;
    height:110px;
    text-align:center;
    border: solid 1px #E6E6E6;
    border-radius: 8pt;
    -moz-border-radius: 8pt;
    -webkit-border-radius: 8pt;
}
.image_hover{
    background-color: #E6E6E6;
    cursor: pointer;
    width:110px;
    height:110px;
    border: solid 1px red;
    border-radius: 8pt;
    -moz-border-radius: 8pt;
    -webkit-border-radius: 8pt;
}
.image_hover a:hover{
    background-color:#E6E6E6;
}
#displayAlbum{
    height:220px;
    border-radius: 8pt;
    -moz-border-radius: 8pt;
    -webkit-border-radius: 8pt;
    border: 3px solid #E6E6E6;
}
#albumList div{
    float:left;
    text-align: center;
    margin-right:10px;
    padding:5px;
}
.field{
    clear:both;
}
span#albumOpr{
    width:100px;
}
div#foot{
    margin-top:10px;
}
#multiFileList{
    float: left;
    clear:both;
    margin-bottom:5px;
    margin-left:5px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#multiFileList th{
    background-color:#E4E4E4;
}
#startSelectFile{
    width:100px;
    height:20px;
    margin-bottom: 6px;
    cursor:pointer;
    background-image:url(/assets/icon/select.png);
}
#continueSelectFile{
    width:100px;
    height:20px;
    cursor:pointer;
    float:right;
    background-image:url(/assets/icon/continue.png);
}
.selectFile{
    margin-left:-160px;
    cursor:pointer;
    filter:alpha(opacity=0);
    -moz-opacity:.0;
    opacity:0.0;
}
.continueSelect{
    margin-left:-160px;
    cursor:pointer;
    filter:alpha(opacity=0);
    -moz-opacity:.0;
    opacity:0.0;
    display:none;
}

#delFile{
    background:red;
    cursor: pointer;
}
label{
    font-weight: bold;
}
input,
textarea{
    background: rgb(226,225,215);
    font-size: 1.0em;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
input:focus,
textarea:focus{
    background: rgba(226,225,215,.5);
}

a img{
    border: 6px solid rgba(226,225,215,.7);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
}
img.avatar{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#comment_text{
    width: 60%;
}