<p>欢迎注册成为本站会员 <%= @resource.email %>!</p>

<p>通过以下链接重置密码：</p>

<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你不想重置密码，请无视！！！</p>
<p>你的密码不会发会改变</p>
